.container {
    // position: absolute;
    // transform: translate(-50%, -50%);
    // top: 35%;
    // left: 50%;
    position: relative;
    .box {
        width: 300px;
        height: 200px;
        border-radius: 20px;
        background-color: #fff;
        box-shadow: 0 0 10px 1px #0000000d;
        transition: all .3s;
        .profile {
            width: 100%;
            display: flex;
            justify-content: center;
            position: relative;
            top: -40px;
            img {
                width: 120px;
                height: 120px;
                border-radius: 10px;
                box-shadow: 0 10px 20px 1px rgba(0 0 0 / 0.3);
                transition: all .5s;
              }
          }
          .info {
            height: 80px;
            position: relative;
            top: -20px;
            text-align: center;
            padding: 0 40px;
            /* background-color: #a1a1f780; */
            overflow: hidden;
            transition: all .2s;
            h3 {
                color: #333;
                margin-bottom: 5px;
            }
            p {
                font-size: 14px;
                color: #666;
                margin-bottom: 25px;
            }
            .user-info {
                display: flex;
                justify-content: space-between;
                > div {
                    position: relative;
                    width: 33.33%;
                    .item > div:first-child {
                        color: #333;
                        font-size: 14px;
                        font-weight: 700;
                    }
                    .item > div:last-child {
                        color: #999;
                        font-size: 12px;
                    }
                }
                .left .item {
                    position: absolute;
                    left: 0;
                }
                  .right .item {
                    position: absolute;
                    right: 0;
                }
            }
            .btn {
                display: flex;
                justify-content: space-between;
                margin-top: 20px;
                > div {
                    width: 45%;
                    padding: 6px 20px;
                    border-radius: 4px;
                    font-size: 14px;
                    cursor: pointer;
                }
                .btn-follow {
                    background-color: #79a7e6;
                    color: #fff;
                }
                .btn-msg {
                    border: 1px solid #79a7e6;
                    color: #79a7e6;
                }
            }
          }
     &:hover {
            height: 410px;
            .profile img {
                width: 220px;
                height: 220px;
                border-radius: 20px;
              }
            .info {
                height: 200px;
                margin-top: 10px;
            }
     }
    }
}
